.form * {
  box-sizing: border-box;
}

.form {
  background-color: #dfe6ed;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas:
    "firstName lastName"
    "save cancel"
  ;
  gap: 20px 25px;
  padding-block: clamp(20px, 3vw, 40px) clamp(25px, 4vw, 55px);
  padding-inline: 1.5rem;
  width: 80%;
  margin: auto;
  position: relative;
}

.form * {
  border-radius: 5px;
}

.form input {
  border: solid 3px #b8c4ce;
  font-size: 1.5rem;
  max-width: 300px;
  width: 100%;
  height: clamp(55px, 6vw, 64px);
  padding-inline: 20px;
}

.form input:focus {
  outline-color: #675bf5;
}

.firstName {
  grid-area: firstName;
}

.lastName {
  grid-area: lastName;
}

.cancel {
  grid-area: cancel;
}

.save {
  grid-area: save;
}

.firstName,
.save {
  justify-self: flex-end;
}

.form input::placeholder {
  color: #c3cfd9;
}

.form button {
  background-color: white;
  height: clamp(45px, 6vw, 52px);
  max-width: 180px;
  width: 100%;
  border: solid 3px #b3b3f0;
  color: #675bf5;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  font-size: 1.3rem;
  font-weight: 600;
  cursor: pointer;
  transition: 300ms;
  height: clamp(55px, 6vw, 64px);
}

.form button:hover {
  background-color: #675bf5;
  color: white;
}

.error {
  font-size: 0.8rem;
  font-weight: bold;
  color: red;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}

@media (max-width: 720px) {
  .form {
    justify-content: center;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas:
      "firstName"
      "lastName"
      "cancel"
      "save";
  }

  .form * {
    max-width: none !important;
  }
}