.form * {
  box-sizing: border-box;
}

.form {
  background-color: #dfe6ed;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr) auto;
  grid-template-areas:
    "firstName lastName"
    "save cancel"
    "error error"
  ;
  gap: 20px 25px;
  padding-block: clamp(20px, 3vw, 40px) clamp(5px, 2vw, 35px);
  padding-inline: 1.5rem;
  width: 80%;
  margin: auto;
  position: relative;
}

.form * {
  border-radius: 5px;
}

.form input {
  border: solid 3px #b8c4ce;
  font-size: 1.5rem;
  max-width: 300px;
  width: 100%;
  height: 64px;
  padding-inline: 20px;
}

.form input:focus {
  outline-color: #675bf5;
}

.firstName {
  grid-area: firstName;
}

.lastName {
  grid-area: lastName;
}

.cancel {
  grid-area: cancel;
}

.save {
  grid-area: save;
}

.firstName,
.save {
  justify-self: flex-end;
}

.form input::placeholder {
  color: #c3cfd9;
}

.form button {
  position: relative;
  background-color: white;
  height: clamp(45px, 6vw, 52px);
  max-width: 180px;
  width: 100%;
  border: solid 3px #b3b3f0;
  color: #675bf5;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  font-size: 1.3rem;
  font-weight: 600;
  cursor: pointer;
  transition: 300ms;
  height: 64px;
}

.form button:disabled {
  pointer-events: none;
  --main: #888888;
  background-color: var(--main);
  border-color: var(--main);
  color: rgba(221, 221, 221, 0.671);
  border: solid 1px;
}

.form button:hover {
  background-color: #675bf5;
  color: white;
}

.error {
  grid-area: error;
  font-size: 0.8rem;
  font-weight: bold;
  color: red;
  text-align: center;
}

.loader {
  scale: 0.4;
  top: 15px;
  right: 45px;
}

.loader div {
  background-color: white;
}

@media (max-width: 720px) {
  .form {
    justify-content: center;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr) auto;
    grid-template-areas:
      "firstName"
      "lastName"
      "cancel"
      "save"
      "error";
  }

  .form * {
    max-width: none !important;
  }
}